<b> Problem Statement : </b>

Problem statement- As a solution specialist the client has approached you to analyse the data and arrive at solution using machine learning to predict the customer cancellation rate. and predict that customer will cancle their bookings or not which have booked by them.

In [100]:
# Importing the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

<b> Data Retrieval </b>

In [101]:
# Reading the dataset
data = pd.read_csv('Dataset/hotel_bookings.csv')

<b>Understanding the Dataset </b>

In [102]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [103]:
data.rename(columns = {'stays_in_weekend_nights':'weekend','stays_in_week_nights':'weekdays'}, inplace = True)

In [104]:
data.shape

(119390, 32)

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   weekend                         119390 non-null  int64
 8   weekdays                        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [106]:
data.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,weekend,weekdays,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [107]:
data.isnull().sum()*100/len(data)

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
weekend                            0.000000
weekdays                           0.000000
adults                             0.000000
children                           0.003350
babies                             0.000000
meal                               0.000000
country                            0.408744
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

<b> Data Cleaning </b>

We can see that some fields are of no relevancy to the cancellation information and some have a very high value of missing data so we will remove them directly from our dataset.

In [108]:
data.drop(['company','meal','agent','lead_time','adr','total_of_special_requests','arrival_date_week_number'],axis=1,inplace=True)

<b>Inference : 1</b>

- Company - Too much null values
- meal - not relevant data
- agent - data having discrepancy
- lead_time - not relevant data
- adr - not relevant data
- total_of_special_requests - not enough information
- arrival_date_week_number - not relevant data

In [109]:
data.shape

(119390, 25)

In [110]:
column_list = data.columns.tolist()

In [111]:
column_list

['hotel',
 'is_canceled',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_day_of_month',
 'weekend',
 'weekdays',
 'adults',
 'children',
 'babies',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'days_in_waiting_list',
 'customer_type',
 'required_car_parking_spaces',
 'reservation_status',
 'reservation_status_date']

In [112]:
data['reservation_status_date'][0]

'2015-07-01'

In [113]:
data['arrival_date'] = data['arrival_date_year'].astype(str)+'-'+data['arrival_date_month'].astype(str)+'-'+data['arrival_date_day_of_month'].astype(str)

In [114]:
data['arrival_date'].head()

0    2015-July-1
1    2015-July-1
2    2015-July-1
3    2015-July-1
4    2015-July-1
Name: arrival_date, dtype: object

In [115]:
# Converting the arrival date and the reservation status date to datetime data type

data['reservation_status_date'] = pd.to_datetime(data['reservation_status_date'])
data['arrival_date'] = pd.to_datetime(data['arrival_date'])

In [116]:
data[['arrival_date','reservation_status_date']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 2 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   arrival_date             119390 non-null  datetime64[ns]
 1   reservation_status_date  119390 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 1.8 MB

In [117]:
# dropping columns other than the arrival date

data.drop(['arrival_date_month','arrival_date_year','arrival_date_day_of_month'],axis=1,inplace=True)

In [118]:
column_list = data.columns.tolist()

In [119]:
column_list

['hotel',
 'is_canceled',
 'weekend',
 'weekdays',
 'adults',
 'children',
 'babies',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'days_in_waiting_list',
 'customer_type',
 'required_car_parking_spaces',
 'reservation_status',
 'reservation_status_date',
 'arrival_date']

In [120]:
null_features = [x for x in column_list if data[x].isnull().sum()>1]

<b> Handling the missing values in the data </b>

In [121]:
data[null_features].isnull().sum()*100/len(data)

children    0.003350
country     0.408744
dtype: float64

In [122]:
# Children and Country have very small percentage of missing values therefore the na fields can be directly deleted
data.dropna(inplace=True)

In [123]:
data[null_features].isnull().sum()*100/len(data)

children    0.0
country     0.0
dtype: float64

In [124]:
null_features = [x for x in data.columns if data[x].isnull().sum()>1]

In [125]:
null_features

[]

In [126]:
column_list = data.columns.tolist()

In [127]:
data['is_repeated_guest'].value_counts()

0    115092
1      3806
Name: is_repeated_guest, dtype: int64

<b>Treating the data types </b>

In [128]:
data['children'].head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: children, dtype: float64

In [129]:
# converting the children from float to int
data['children'] = data['children'].astype(int)

<b> Inference : 2</b>

We can see that there are some babies in the dataset who are not children ,so we have the following choices with them :

- Delete the rows which have more number of babies than children.
- Adding the no. of babies to the children.

In [130]:
data['is_child_baby'] = data.apply(lambda x:1 if x.children<x.babies else 0,axis=1)

In [131]:
data['is_child_baby'].value_counts()

0    118156
1       742
Name: is_child_baby, dtype: int64

In [132]:
len(data[data['is_child_baby'] == 1])/len(data)

0.006240643240424565

In [133]:
# Very small percentage of children are there who are not children therefore we are going to directly delete those rows
data = data[data['is_child_baby']==0]
data.head()

,hotel,is_canceled,weekend,weekdays,adults,children,babies,country,market_segment,distribution_channel,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,required_car_parking_spaces,reservation_status,reservation_status_date,arrival_date,is_child_baby
0,Resort Hotel,0,0,0,2,0,0,PRT,Direct,Direct,...,C,3,No Deposit,0,Transient,0,Check-Out,2015-07-01,2015-07-01,0
1,Resort Hotel,0,0,0,2,0,0,PRT,Direct,Direct,...,C,4,No Deposit,0,Transient,0,Check-Out,2015-07-01,2015-07-01,0
2,Resort Hotel,0,0,1,1,0,0,GBR,Direct,Direct,...,C,0,No Deposit,0,Transient,0,Check-Out,2015-07-02,2015-07-01,0
3,Resort Hotel,0,0,1,1,0,0,GBR,Corporate,Corporate,...,A,0,No Deposit,0,Transient,0,Check-Out,2015-07-02,2015-07-01,0
4,Resort Hotel,0,0,2,2,0,0,GBR,Online TA,TA/TO,...,A,0,No Deposit,0,Transient,0,Check-Out,2015-07-03,2015-07-01,0

In [134]:
# Removing the extra created column and babies because it only contains extra information now
data.drop(['is_child_baby','babies'],axis=1,inplace=True)

In [135]:
numerical_features = [x for x in data.columns if data[x].dtypes!='O']

In [136]:
categorical_features = [x for x in data.columns if data[x].dtypes=='O']

In [137]:
numerical_features

['is_canceled',
 'weekend',
 'weekdays',
 'adults',
 'children',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'booking_changes',
 'days_in_waiting_list',
 'required_car_parking_spaces',
 'reservation_status_date',
 'arrival_date']

In [138]:
categorical_features

['hotel',
 'country',
 'market_segment',
 'distribution_channel',
 'reserved_room_type',
 'assigned_room_type',
 'deposit_type',
 'customer_type',
 'reservation_status']

In [139]:
data['distribution_channel'].value_counts()

TA/TO        97208
Direct       14275
Corporate     6479
GDS            193
Undefined        1
Name: distribution_channel, dtype: int64

In [140]:
# removing the row with the undefined data in it

data = data[data['distribution_channel']!='Undefined']

In [141]:
data.shape

(118155, 22)

In [142]:
column_list = data.columns.tolist()

In [143]:
print(column_list)

['hotel', 'is_canceled', 'weekend', 'weekdays', 'adults', 'children', 'country', 'market_segment', 'distribution_channel', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type', 'assigned_room_type', 'booking_changes', 'deposit_type', 'days_in_waiting_list', 'customer_type', 'required_car_parking_spaces', 'reservation_status', 'reservation_status_date', 'arrival_date']

<b> Inference : 3 </b>

Previous bookings not cancelled and previous cancellation can be converted to the bins for better data understanding at this point, also the assigned room type and reserved room type can be converted to a single field having data about getting the desired room or not.

In [144]:
# Working with the reserved and assigned room types

data['got_desired_room'] = data.apply(lambda x:1 if x.reserved_room_type == x.assigned_room_type else 0,axis=1)

In [145]:
data['got_desired_room'].value_counts()

1    103609
0     14546
Name: got_desired_room, dtype: int64

In [146]:
# Deleting the room types as its of no use to us now
data.drop(['assigned_room_type','reserved_room_type'],axis=1,inplace=True)

In [147]:
data.shape

(118155, 21)

In [148]:
data['total'] = data['previous_cancellations']+data['previous_bookings_not_canceled']

In [149]:
data['previous_cancellations'].isnull().sum()

0

In [150]:
data['percentage_cancellation'] = data['previous_cancellations']*100/data['total']

In [151]:
data['percentage_cancellation'].fillna(0,inplace=True)

In [152]:
max(data['percentage_cancellation'])

100.0

In [153]:
min(data['percentage_cancellation'])

0.0

In [154]:
# Removing the other columns as we have combined their information into a single useful columns

data.drop(['previous_bookings_not_canceled','previous_cancellations'],axis=1,inplace=True)

In [155]:
data.shape

(118155, 21)

In [156]:
data.loc[data['percentage_cancellation'].between(0, 33, 'both'), 'cancellation_frequency'] = 'low'
data.loc[data['percentage_cancellation'].between(33, 66, 'left'), 'cancellation_frequency'] = 'medium'
data.loc[data['percentage_cancellation'].between(66, 100, 'right'), 'cancellation_frequency'] = 'high'

In [157]:
data['cancellation_frequency'].value_counts()

low       112182
high        5845
medium       128
Name: cancellation_frequency, dtype: int64

In [158]:
# Removing the date variables from the dataset as they have no effect over our target vairable

data.drop(['arrival_date','reservation_status_date','percentage_cancellation','total'],axis=1,inplace=True)

In [159]:
data.shape

(118155, 18)

In [160]:
data.head()

,hotel,is_canceled,weekend,weekdays,adults,children,country,market_segment,distribution_channel,is_repeated_guest,booking_changes,deposit_type,days_in_waiting_list,customer_type,required_car_parking_spaces,reservation_status,got_desired_room,cancellation_frequency
0,Resort Hotel,0,0,0,2,0,PRT,Direct,Direct,0,3,No Deposit,0,Transient,0,Check-Out,1,low
1,Resort Hotel,0,0,0,2,0,PRT,Direct,Direct,0,4,No Deposit,0,Transient,0,Check-Out,1,low
2,Resort Hotel,0,0,1,1,0,GBR,Direct,Direct,0,0,No Deposit,0,Transient,0,Check-Out,0,low
3,Resort Hotel,0,0,1,1,0,GBR,Corporate,Corporate,0,0,No Deposit,0,Transient,0,Check-Out,1,low
4,Resort Hotel,0,0,2,2,0,GBR,Online TA,TA/TO,0,0,No Deposit,0,Transient,0,Check-Out,1,low

In [161]:
data['children'].value_counts()

0     109580
1       4848
2       3650
3         76
10         1
Name: children, dtype: int64

In [162]:
data['children'].replace(10,0,inplace=True)
data['children'].value_counts()

0    109581
1      4848
2      3650
3        76
Name: children, dtype: int64

In [163]:
column_list = data.columns.tolist()

In [164]:
data['children'].value_counts()

0    109581
1      4848
2      3650
3        76
Name: children, dtype: int64

In [165]:
column_list

['hotel',
 'is_canceled',
 'weekend',
 'weekdays',
 'adults',
 'children',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'booking_changes',
 'deposit_type',
 'days_in_waiting_list',
 'customer_type',
 'required_car_parking_spaces',
 'reservation_status',
 'got_desired_room',
 'cancellation_frequency']

<b> Inference : 5 </b>

Now the data cleaning part has been completed. We have removed the unwanted fields from the dataset still we have sustained some fields for the EDA purposes, the missing values and the illogical data has been removed and now we have only the logical relational data left with some EDA purpose fields.

<b>Feature Selection</b>

In [166]:
column_list

['hotel',
 'is_canceled',
 'weekend',
 'weekdays',
 'adults',
 'children',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'booking_changes',
 'deposit_type',
 'days_in_waiting_list',
 'customer_type',
 'required_car_parking_spaces',
 'reservation_status',
 'got_desired_room',
 'cancellation_frequency']

In [167]:
data.drop(['hotel','country','market_segment','distribution_channel','deposit_type','customer_type'],inplace=True,axis=1)

In [168]:
data.shape

(118155, 12)

In [169]:
data.columns.to_list()

['is_canceled',
 'weekend',
 'weekdays',
 'adults',
 'children',
 'is_repeated_guest',
 'booking_changes',
 'days_in_waiting_list',
 'required_car_parking_spaces',
 'reservation_status',
 'got_desired_room',
 'cancellation_frequency']

<b> Feature Engineering </b>

In [170]:
# Converting the categorical data into numerical data

categorical_data = [x for x in data.columns if data[x].dtypes == 'O']

In [171]:
categorical_data

['reservation_status', 'cancellation_frequency']

In [172]:
data['reservation_status'].value_counts()

Check-Out    74135
Canceled     42823
No-Show       1197
Name: reservation_status, dtype: int64

In [173]:
data['reservation_status'] = data['reservation_status'].map({'Check-Out':1,'Canceled':2,'No-Show':3})

In [174]:
data['cancellation_frequency'].value_counts()

low       112182
high        5845
medium       128
Name: cancellation_frequency, dtype: int64

In [175]:
data['cancellation_frequency'] = data['cancellation_frequency'].map({'low':1,'medium':2,'high':3})

In [176]:
categorical_data = [x for x in data.columns if data[x].dtypes == 'O']

<b> Model Training </b>

In [177]:
y = data['is_canceled']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: is_canceled, dtype: int64

In [178]:
x = data.drop(['is_canceled'],axis=1)

In [179]:
x.head()

,weekend,weekdays,adults,children,is_repeated_guest,booking_changes,days_in_waiting_list,required_car_parking_spaces,reservation_status,got_desired_room,cancellation_frequency
0,0,0,2,0,0,3,0,0,1,1,1
1,0,0,2,0,0,4,0,0,1,1,1
2,0,1,1,0,0,0,0,0,1,0,1
3,0,1,1,0,0,0,0,0,1,1,1
4,0,2,2,0,0,0,0,0,1,1,1

In [180]:
from sklearn.model_selection import train_test_split

In [181]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=2, train_size = .75)

In [182]:
x_train.shape

(88616, 11)

In [183]:
x_test.shape

(29539, 11)

In [184]:
y_train.shape

(88616,)

In [185]:
y_test.shape

(29539,)

In [186]:
from sklearn.linear_model import LogisticRegression

In [192]:
lr = LogisticRegression(C=0.1,penalty='l2')

In [193]:
lr.fit(x_train,y_train)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(C=0.1)

In [194]:
y_train_predict = lr.predict(x_test)

In [195]:
lr.score(x_test,y_test)

1.0

In [196]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score

In [197]:
confusion_matrix(y_test,y_train_predict)

array([[18582,     0],
       [    0, 10957]])

In [198]:
accuracy_score(y_test,y_train_predict)

1.0

In [199]:
precision_score(y_test,y_train_predict)

1.0

In [200]:
from sklearn.metrics import recall_score,f1_score
recall_score(y_test,y_train_predict)

1.0

In [201]:
f1_score(y_test,y_train_predict)

1.0

In [202]:
from sklearn.model_selection import cross_val_score

In [205]:
scores = cross_val_score(lr,x_train,y_train,cv=5)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [206]:
print(f'Mean: {scores.mean():.3f}')
print(f'Standard Deviation: {scores.std():.3f}')

Mean: 1.000
Standard Deviation: 0.000